---
http_interactions:
- request:
    method: get
    uri: http://graph.facebook.com/me/friends
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "An active access token must be
        used to query information about the current user."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"An active access token must be used to query information
        about the current user.","type":"OAuthException","code":2500,"fbtrace_id":"E7G3iiBQidv"}}'
  recorded_at: Thu, 10 Mar 2016 03:00:38 GMT
recorded_with: VCR 3.0.1
