---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/static?api_key=SWOUMYTGV1Z9RU0RU&bucket=tracks&results=30&song_id=SOWNTGW15144B35F1A&song_selection=song_discovery-top&type=artist-radio&variety=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 38f89:28886
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - SWOUMYTGV1Z9RU0RU
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"title": "Julia", "artist_name": "SZA", "artist_foreign_ids": [{"catalog":
        "spotify", "foreign_id": "spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"}], "tracks":
        [{"foreign_release_id": "spotify:album:2qCyMMQ785sPH4Yx25GQZ8", "catalog":
        "spotify", "foreign_id": "spotify:track:3oUSdLtRYOSvXcLMrHctv7", "id": "TRAAQGQ14600552FA1"}],
        "artist_id": "ARVEJJX13DD21C402A", "id": "SOJFIJU1452227CC93"}, {"title":
        "Poison Peach", "artist_name": "Methyl Ethel", "artist_foreign_ids": [{"catalog":
        "spotify", "foreign_id": "spotify:artist:3I3Fz1DeUY0icXFvOjbXm7"}], "tracks":
        [{"foreign_release_id": "spotify:album:1YhdPkF7VwqpO6w3vBMcVk", "catalog":
        "spotify", "foreign_id": "spotify:track:1C7wLEnzczgYFsJBhU1GUi", "id": "TRTDESD144D0C1FEA0"}],
        "artist_id": "ARCVRMW1447A74B9CB", "id": "SOIOPJQ14490D7FC81"}, {"ti[...]
