---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=SWOUMYTGV1Z9RU0RU&description=rap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 89a7b:3259
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - SWOUMYTGV1Z9RU0RU
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARPXULK1241B9C6305", "name": "GZA"}, {"id": "ARUDYKB11F4C83C269",
        "name": "Lil Wayne"}, {"id": "ARZ5H0P1187B98A1DD", "name": "Snoop Dogg"},
        {"id": "ARODZUF11F4C841E1F", "name": "Drake"}, {"id": "ARHBUNW14561E062F3",
        "name": "Jeezy"}, {"id": "ARMFTPF1187FB3AA43", "name": "Too $hort"}, {"id":
        "ARPXABO1187FB4D15F", "name": "2Pac"}, {"id": "AR9RY7L1187B9A00A5", "name":
        "The Diplomats"}, {"id": "AR6YR7H1187FB40D23", "name": "J-Live"}, {"id": "AR8VVB21187B9B6ED3",
        "name": "Clipse"}, {"id": "ARV6Z5I1187B9A22A8", "name": "Gucci Mane"}, {"id":
        "ARLGIX31187B9AE9A0", "name": "Jay-Z"}, {"id": "ARXFB7K1187B9B1E54", "name":
        "Missy Elliott"}, {"id": "ARZ3U2M1187B989ACB", "name": "Nas"}, {"id": "ARRH63Y1187FB47783",
        "name": "Kanye West"}]}}'
  recorded_at: Sun, 06 Mar 2016 20:45:50 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=SWOUMYTGV1Z9RU0RU&artist=GZA&bucket=tracks&results=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - f61bc:38197
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - SWOUMYTGV1Z9RU0RU
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"title": "Acapella", "artist_name": "GZA", "artist_foreign_ids":
        [{"catalog": "spotify", "foreign_id": "spotify:artist:6ns6XAOsw4B0nDUIovAOUO"}],
        "tracks": [], "artist_id": "ARPXULK1241B9C6305", "id": "SOPFKWQ14297FD61CF"},
        {"title": "Pool Of Blood (Clean)", "artist_name": "GZA", "artist_foreign_ids":
        [{"catalog": "spotify", "foreign_id": "spotify:artist:6ns6XAOsw4B0nDUIovAOUO"}],
        "tracks": [{"foreign_release_id": "spotify:album:5LBiEFRsIgU7AiPehze02j",
        "catalog": "spotify", "foreign_id": "spotify:track:3IUVgCJaaUnVU1iDS8AxJ5",
        "id": "TRHMWFA14600544B7E"}], "artist_id": "ARPXULK1241B9C6305", "id": "SOSYXGG137316AE060"},
        {"title": "7 Pounds (Produced by Black Milk)", "artist_name": "GZA", "artist_foreign_ids":
        [{"catalog": "spotify", "foreign_id": "spotify:artist:6ns6XAOsw4B0nDUIovAOUO"}],
        "tracks": [{"album_type": "unknown", "album_date": "2008-08-19", "foreign_release_id":
        "spotify:album:5nmN1wW90fbqNbz7ltY7rg", "catalog": "spotify", "foreign_id":
        "spotify:track:1jWvUIDhb64Z2hL7pKpxuP", "album_name": "Pro Tools", "id": "TRGJDMZ146004FFB08"},
        {"foreign_release_id": "spotify:album:0Nw5z4nusOXeJmK6O1YuL5", "catalog":
        "spotify", "foreign_id": "spotify:track:16wQQz10XKg0K7Dzut67dw", "id": "TRRKTGY144D0BD367F"},
        {"foreign_release_id": "spotify:album:6wjwVbZ3aBNbeNekPWA1br", "catalog":
        "spotify", "foreign_id": "spotify:track:3qDmm5g5WmpldRLmxDEA8T", "id": "TRHMQDO144D1354256"},
        {"foreign_release_id": "spotify:album:3fHsNHm7SpZjrK1RwGACKL", "catalog":
       [...]
